<div class="container">
  <%= form_tag(cups_path, method: :get) do %>
    <%= label_tag 'Start Date' %>
    <%= text_field_tag 'start_date', params[:start_date], class: 'datepicker' %>

    <%= label_tag 'End Date' %>
    <%= text_field_tag 'end_date', params[:end_date], class: 'datepicker' %>

    <%= submit_tag 'Filter', class: 'btn btn-flat m-2' %>
  <% end %>

  <%= render "shared/cupcard" %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var startDateInput = document.querySelector('#start_date');
    var endDateInput = document.querySelector('#end_date');

    new Pikaday({ field: startDateInput });
    new Pikaday({ field: endDateInput });
  });
</script>
