<div class="container" style="margin:0px 30px 0px 30px">
  <div class="row">
    <div class="card-product col-6">
      <div class="card-product-content">
        <div class="card-product-selected-image" style="background-image: url('<%= @cup.photo.url %>'); background-size: contain; background-position: center; background-repeat: no-repeat; padding: 25px;"></div>
        <div class="card-product-info" style="padding: 25px">
          <h1><%= @cup.name %></h1>
          <h2><%= @cup.user.name %></h2>
          <h2><%= @cup.location %></h2>
          <h2><%= @cup.volume %> ml</h2>
          <h3>¥<%= @cup.price %></h3>
          <p><%= @cup.description %></p>
        </div>
      </div>
    </div>
    <div class="col-6" style="background-color:white">
      <%= render "bookings/form" %>
    </div>
  </div>
