<% if booking.pending? %>
  <!-- Display Forms-->
  <div class="d-flex">
    <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
      <%= f.submit 'Accept', class: 'btn btn-flat' %>
    <% end %>
    <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
      <%= f.submit 'Reject', class: 'btn btn-light' %>
    <% end %>
  </div>
<% else %>
  <!-- Display Status-->
  <p class='booking-tag'><%= booking.status %></p>
<% end %>
