<div class= "container justify-content-center">
  <% @bookings.each do |booking| %>
    <div class="card mb-3 ">
      <div class="row g-0">
        <div class="col-md-4">
          <%= booking.cup.photo.attached? ? cl_image_tag(booking.cup.photo.key, class: "img-thumbnail", width: "300", height: "300", crop: :fill) : "No image available" %>
        </div>
        <div class="col-md-6">
          <div class="card-body align-middle">
            <h2 class="card-title align-middle" style="font-weight: bold">
              <%= booking.cup.name %>
            </h2>
            <h4>Cup from
              <i style="font-style: italic"><%= booking.cup.user.name %></i></h4>
            <h4>
              <%= booking.start_date %> to <%= booking.return_date %> &#40;<%= sums = (booking.return_date - booking.start_date).to_i %> <%= sums > 1? "days" : "day"%>&#41; <br>
              ¥
              <% price = booking.total_price || 0 %>
              <% if price > 1000 %>
                <% price_formatted = price.to_s.insert(-4, ',') %>
              <% end %>
              <%= price_formatted || price %></h4>
          </div>
        </div>
        <div class="col-md-2 align-items-center">
          <div class="card-text d-flex align-items-center" style="font-size: 28px; display: flex; "><br>
            <br>
            <br>
            <%= booking.status %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
